

<div class="container">
    <%= flash[:alert] if flash[:alert]%>
    <%= flash[:notice] if flash[:notice]%>
    <h1>Hermes</h1>
    <h2>Consulta de Pedidos</h2>
    <%= form_with url: root_path, method: :get do |form| %>
        <%= form.label :codigo_rastreio, "Código de Rastreio", class: "form-label"%>
        </br>
        <%= form.text_field :codigo_rastreio %>
        </br>
        <%= form.submit "Consultar", class:"btn btn-success"%>
    <% end %>
    <%if @order%>
        <%= @order %>
    <%end%>
</div>


